<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag("/search", method: "get") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q)  %>
          <%= submit_tag "Search", name: nil %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
      <% @posts.each do |post|  %>
        <div class="col-md-12">
          <a href="/posts/<%= post.id  %>"><%= post.title %></a>
        </div>
      <% end %>
  </div>
</div>
