<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag("/search", method: "get") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q)  %>
          <%= submit_tag "Search", name: nil %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
      <% @posts.each do |post|  %>
        <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">

            <% if post.image == "" %>
              <img src="http://placehold.it/800x800">
            <% else %>
              <img src="<%= post.image %>" class="img-responsive" alt="Responsive image">
            <% end %>

            <div class="caption">

              <% if post.link == "" %>
                <a href="/posts/<%= post.id  %>"><%= post.title %></a>
              <% else %>
                <a href="<%= post.link  %>" target="_blank"><%= post.title %></a>
              <% end %>

              <p><%= post.description %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
