<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @post.title %></h2>
      <span>Posted <%= time_ago_in_words(@post.created_at) %> ago</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Body: </h3>
      <p><%= @post.body %></p>
    </div>
  </div>
  <%= link_to "Back to search results", search_path %>
  <% if current_user %>

    <% if @is_favorited %>
      <i id="<%= @post.id %>" class="fa fa-heart red pointer" aria-hidden="true"></i>
    <% else %>
      <i id="<%= @post.id %>" class="fa fa-heart pointer" aria-hidden="true"></i>
    <%end %>

  <% end %>
  <!-- glyphicon glyphicon-heart -->
</div>
