<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @post.title %></h2>
      <span>Posted <%= time_ago_in_words(@post.created_at) %> ago</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Body: </h3>
      <p><%= @post.body %></p>
    </div>
  </div>
  <%= link_to "Back to search results", search_path %>
  <% if current_user %>
    <%=link_to "favorite",   new_favorite_path(@post, type: "favorite"), method: :put %>
  <% end %>
  <!-- glyphicon glyphicon-heart -->
</div>
