<!DOCTYPE html>
<html>
  <head>
    <title>Resource Repository</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <%= link_to "Sign In", new_user_session_path %>
    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path %>
    <% end %>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to the Resources Center!</h1>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  <div>
  <%= link_to "Admin login", new_admin_user_session_path %>
  </div>
  </body>
</html>
